.title {
  margin: 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  position: relative;

  &::before {
    content: attr(data-content);
    position: absolute;
    width: 100%;
    height: auto;
    font-weight: 800;
    font-size: 26px;
    line-height: 26px;
    opacity: 0.03;

    z-index: -1;

    bottom: 50%;
    left: 0;

    @media (min-width: $tablet) {
      font-size: 40px;
      line-height: 40px;
      bottom: 0;
    }

    @media (min-width: $desktop) {
      font-size: 55px;
      line-height: 55px;
      bottom: -3px;
    }
  }

  @media (min-width: $tablet) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop) {
    font-size: 35px;
    line-height: 35px;
  }
}
